.project-card {
  width: 17.5rem;
  /* height: 21rem; */
  /* padding: 5px; */
  text-align: justify;
  background-color: #111;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.329);
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: translateY(-8px) scale(1.05);
}
.project-card img {
  width: 100%;
}
.project-card p {
  font-size: 0.7rem;
}
.btn-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.btn-wrapper button {
  padding: 0.1rem 0.8rem;
  cursor: pointer;
}
