.contact-container {
  width: 100%;
  padding: 3rem 0;
  background-color: var(--black);
  color: var(--primaryfont);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .getinTouch {
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 0.8rem;
}
.contact-container .me {
  color: var(--secondary);
}
