.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.801);
}

.navbar-container {
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--secondary);
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  text-transform: capitalize;
  /* background-color: black; */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

.nav-icon {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-icon {
    display: block;
  }

  .nav-links {
    border: 1px solid var(--primaryfont);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    /* background: #222; */
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}
